<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.vinn.eclipse.build.commands.category"
            name="Vinn Build Commands">
      </category>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.cdt.handlers.CProjectAssociationHandler"
            description="com.vinn.build.commands.cprojects.link"
            id="com.vinn.build.commands.cprojects.link"
            name="com.vinn.build.commands.cprojects.link">
      </command>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.cdt.handlers.CProjectAssociationHandler"
            description="com.vinn.build.commands.cprojects.unlink"
            id="com.vinn.build.commands.cprojects.unlink"
            name="com.vinn.build.commands.cprojects.unlink">
      </command>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.cdt.handlers.ConfigurationClearHandler"
            id="com.vinn.build.commands.applyconfig"
            name="com.vinn.build.commands.applyconfig">
         <commandParameter
               id="com.vinn.build.commandParameter1"
               name="resource"
               optional="true"
               typeId="org.eclipse.ui.ide.resourcePath">
         </commandParameter>
      </command>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.cdt.handlers.ConfigurationClearHandler"
            id="com.vinn.build.commands.clearconfig"
            name="com.vinn.build.commands.clearconfig">
         <commandParameter
               id="com.vinn.build.commandParameter1"
               name="resource"
               optional="true"
               typeId="org.eclipse.ui.ide.resourcePath">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.CancelIndexerHandler"
            id="com.vinn.build.commands.indexer.cancel"
            name="com.vinn.build.commands.indexer.cancel">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.RebuildIndexerHandler"
            id="com.vinn.build.commands.indexer.rebuild"
            name="com.vinn.build.commands.indexer.rebuild">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.RefreshProjectsHandler"
            id="com.vinn.build.commands.refreshall"
            name="com.vinn.build.commands.refreshall">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.ConfigurationSelectionHandler"
            id="com.vinn.cdt.selectconf"
            name="name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.vinn.build.commands.cprojects.link"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ALT+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.vinn.build.commands.cprojects.unlink"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=project">
         <menu
               id="com.vinn.build.environment.menu"
               label="Environment"
               tooltip="Settings affecting all projects">
            <command
                  commandId="com.vinn.build.commands.cprojects.link"
                  icon="icons/elements_obj.gif"
                  label="Associate C Projects"
                  style="push">
            </command>
            <command
                  commandId="com.vinn.build.commands.cprojects.unlink"
                  icon="icons/generic_elements.gif"
                  label="Disassociate C Projects"
                  style="push">
            </command>
            <separator
                  name="com.vinn.build.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.vinn.cdt.selectconf"
                  label="Select Configuration"
                  style="push">
            </command>
            <command
                  commandId="com.vinn.build.commands.clearconfig"
                  label="Clear Configuration"
                  style="push">
            </command>
            <separator
                  name="com.vinn.build.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.vinn.build.commands.indexer.rebuild"
                  label="Rebuild Indexes"
                  style="push">
            </command>
            <command
                  commandId="com.vinn.build.commands.indexer.cancel"
                  icon="icons/stop.gif"
                  label="Cancel Indexer"
                  style="push">
            </command>
            <separator
                  name="com.vinn.build.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.vinn.build.commands.refreshall"
                  icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/refresh_nav.gif"
                  label="Refresh Projects"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="com.vinn.cdt.preferences.VinnBuildPreferencePage"
            id="com.vinn.build.preferences.EnvironmentPreferencePage"
            name="Environment">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vinn.cdt.preferences.VinnBuildPreferenceInitializer">
      </initializer>
   </extension>   
   <!--<extension
         id="com.vinn.build.cdt.LanguageSettingsProvider"
            name="Vinn Provider"
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="com.vinn.build.cdt.LanguageSettingsProvider"
            >
      </provider>
   </extension>-->
   
</plugin>
