<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.vinn.cdt.conf.providers.ConfigurationActiveState">
         <variable
               name="com.vinn.cdt.conf.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            id="com.vinn.cdt.conf.active"
            type="com.vinn.cdt.conf.providers.ConfigurationActiveState">
      </commandParameterType>
      <command
            defaultHandler="com.vinn.cdt.handlers.ProjectAssociationHandler"
            description="Associate Projects"
            id="com.vinn.cdt.linkprojects"
            name="Associate Projects">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.ProjectAssociationHandler"
            description="Unlink Projects"
            id="com.vinn.cdt.unlinkprojects"
            name="Unlink Projects">
      </command>
      <command
            defaultHandler="com.vinn.cdt.conf.handlers.ConfigurationToggleHandler"
            id="com.vinn.cdt.conf.toggle"
            name="Toggle Configuration">
      </command>
      <command
            defaultHandler="com.vinn.cdt.conf.handlers.ConfigurationSelectionHandler"
            id="com.vinn.cdt.conf.select"
            name="Select Configuration">
      </command>
      <command
            defaultHandler="com.vinn.cdt.conf.handlers.ConfigurationClearHandler"
            id="com.vinn.cdt.conf.clear"
            name="Clear Configuration">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.IndexerCancelHandler"
            description="Cancel Indexer"
            id="com.vinn.cdt.indexer.cancel"
            name="Cancel Indexer">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.IndexerRebuildHandler"
            description="Rebuild Indexes"
            id="com.vinn.cdt.indexer.rebuild"
            name="Rebuild Indexes">
      </command>
      <command
            defaultHandler="com.vinn.cdt.conf.handlers.OpenBuildPreferencesPageHandler"
            id="com.vinn.cdt.pref"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <!--
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer">
         <command
               commandId="com.vinn.cdt.conf.toggle"
               icon="icons/active.gif"
               id="com.vinn.workspace"
               label="Configuaration Active"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.cdt.ui.CView">
         <command
               commandId="com.vinn.cdt.conf.toggle"
               icon="icons/active.gif"
               id="com.vinn.workspace"
               label="Configuaration Active"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.vinn.workspace">
         <command
               commandId="com.vinn.cdt.conf.select"
               icon="icons/active.gif"
               label="Select Configuration"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.conf.clear"
               label="Clear Configuration"
               style="push">
         </command>
         <separator
               name="com.vinn.build.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.vinn.cdt.indexer.rebuild"
               label="Rebuild Indexes"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.indexer.cancel"
               icon="icons/stop.gif"
               label="Cancel Indexer"
               style="push">
         </command>
         <separator
               name="com.vinn.cdt.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.vinn.cdt.linkprojects"
               icon="icons/elements_obj.gif"
               label="Associate C Projects"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.unlinkprojects"
               icon="icons/generic_elements.gif"
               label="Disassociate C Projects"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.pref"
               label="Preferences"
               style="push">
         </command>
      </menuContribution>
      -->
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.eclipse.ui.project.buildAll">
            <command
                  commandId="com.vinn.cdt.conf.toggle"
                  icon="icons/active.gif"
                  id="com.vinn.workspace.toolbar"
                  label="Configuaration Active"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.vinn.workspace.toolbar">
         <command
               commandId="com.vinn.cdt.conf.select"
               icon="icons/active.gif"
               label="Select Configuration"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.conf.clear"
               label="Clear Configuration"
               style="push">
         </command>
         <separator
               name="com.vinn.build.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.vinn.cdt.pref"
               label="Preferences"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:project?before=build">
         <separator
               name="com.vinn.cdt.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.vinn.cdt.linkprojects"
               icon="icons/elements_obj.gif"
               label="Associate C Projects"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.unlinkprojects"
               icon="icons/generic_elements.gif"
               label="Disassociate C Projects"
               style="push">
         </command>
         <separator
               name="com.vinn.cdt.separator4"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:project?before=projectProperties">
         <command
               commandId="com.vinn.cdt.indexer.rebuild"
               label="Rebuild Indexes"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.indexer.cancel"
               icon="icons/stop.gif"
               label="Cancel Indexer"
               style="push">
         </command>
         <separator
               name="com.vinn.cdt.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.vinn.cdt.linkprojects"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ALT+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.vinn.cdt.unlinkprojects"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="com.vinn.cdt.preferences.BuildConfPreferencePage"
            id="com.vinn.cdt.preferences.PreferencePage"
            name="Workspace">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vinn.cdt.preferences.BuildConfPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="com.vinn.cdt.views.ConfigurationView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.vinn.cdt.decorators.Label"
            id="com.vinn.cdt.decorator"
            label="Standard Build Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IContainer">
               </objectClass>
             </or>
         </enablement>
      </decorator>
   </extension>
</plugin>
