<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.vinn.cdt.build.providers.ConfigurationActiveState">
         <variable
               name="com.vinn.cdt.build.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            id="com.vinn.cdt.build.active"
            type="com.v`inn.cdt.build.providers.ConfigurationActiveState">
      </commandParameterType>
      <command
            defaultHandler="com.vinn.cdt.handlers.ProjectAssociationHandler"
            description="Associate Projects"
            id="com.vinn.cdt.build.linkprojects"
            name="Associate Projects">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.ProjectAssociationHandler"
            description="Unlink Projects"
            id="com.vinn.cdt.build.unlinkprojects"
            name="Unlink Projects">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.build.ConfigurationToggleHandler"
            id="com.vinn.cdt.build.conf.toggle"
            name="Toggle Configuration">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.build.ConfigurationSelectionHandler"
            id="com.vinn.cdt.build.conf.select"
            name="Select Configuration">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.build.ConfigurationClearHandler"
            id="com.vinn.cdt.build.conf.clear"
            name="Clear Configuration">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.IndexerCancelHandler"
            description="Cancel Indexer"
            id="com.vinn.cdt.build.indexer.cancel"
            name="Cancel Indexer">
      </command>
      <command
            defaultHandler="com.vinn.cdt.handlers.IndexerRebuildHandler"
            description="Rebuild Indexes"
            id="com.vinn.cdt.build.indexer.rebuild"
            name="Rebuild Indexes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer">
         <command
               commandId="com.vinn.cdt.build.conf.toggle"
               icon="icons/active.gif"
               id="com.vinn.workspace"
               label="Configuaration Active"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.cdt.ui.CView?before=additions">
         <command
               commandId="com.vinn.cdt.build.conf.toggle"
               icon="icons/active.gif"
               id="com.vinn.workspace"
               label="Configuaration Active"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.vinn.workspace">
         <command
               commandId="com.vinn.cdt.build.conf.select"
               icon="icons/active.gif"
               label="Select Configuration"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.build.conf.clear"
               label="Clear Configuration"
               style="push">
         </command>
         <separator
               name="com.vinn.build.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.vinn.cdt.build.indexer.rebuild"
               label="Rebuild Indexes"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.build.indexer.cancel"
               icon="icons/stop.gif"
               label="Cancel Indexer"
               style="push">
         </command>
         <separator
               name="com.vinn.build.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.vinn.cdt.build.linkprojects"
               icon="icons/elements_obj.gif"
               label="Associate C Projects"
               style="push">
         </command>
         <command
               commandId="com.vinn.cdt.build.unlinkprojects"
               icon="icons/generic_elements.gif"
               label="Disassociate C Projects"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.vinn.cdt.build.linkprojects"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ALT+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.vinn.cdt.build.unlinkprojects"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="com.vinn.cdt.preferences.BuildConfPreferencePage"
            id="com.vinn.build.preferences.EnvironmentPreferencePage"
            name="Workspace">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vinn.cdt.preferences.BuildConfPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
