<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.vinn.utils.font.command.increase"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+=">
      </key>
      <key
            commandId="com.vinn.utils.font.command.decrease"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+-">
      </key>
      <key
            commandId="com.vinn.utils.font.command.reset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="com.vinn.utils.font.handlers.FontSizeChangeHandler"
            id="com.vinn.utils.font.command.increase"
            name="com.vinn.utils.font.command.increase">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="com.vinn.utils.font.handlers.FontSizeChangeHandler"
            id="com.vinn.utils.font.command.decrease"
            name="com.vinn.utils.font.command.decrease">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="com.vinn.utils.font.handlers.FontSizeChangeHandler"
            id="com.vinn.utils.font.command.reset"
            name="com.vinn.utils.font.command.reset">
      </command>
      <command
            defaultHandler="com.vinn.utils.actions.RemoveAllProblemMarkersHandler"
            id="com.vinn.utils.commands.removeproblems"
            name="com.vinn.utils.commands.removeproblems">
      </command>
      <command
            defaultHandler="com.vinn.utils.actions.RefreshProjectsHandler"
            id="com.vinn.utils.commands.refreshall"
            name="com.vinn.utils.commands.refreshall">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
         <activity
            id="com.vinn.util.menu.other.ctivity"
            name="Other Action Menu">
         <enabledWhen>
          <and>
                      <with
                            variable="activePart">
                            <not>
                               <instanceof
                                     value="org.eclipse.ui.editors.text.TextEditor">
                               </instanceof>
                            </not>
                      </with>
                      <with
                            variable="com.vinn.utils.menu.other.active">
                         <equals
                               value="SHOW">
                         </equals>
                      </with>
                  </and>
         </enabledWhen>
      </activity>
         <activityPatternBinding
               activityId="com.vinn.util.menu.other.ctivity"
               isEqualityPattern="false"
               pattern=".*com.tetrade.eclipse.plugins.easyshell.command.*">
         </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.other.ctivity"
            isEqualityPattern="false"
            pattern="org.python.pydev.ui.actions.*">
      </activityPatternBinding>
      <activity
            id="com.vinn.util.menu.basic.activity"
            name="Basic Action Menu">
         <enabledWhen>
         <and>
            <with
                  variable="com.vinn.utils.menu.basic.active">
               <equals
                        value="SHOW">
                  </equals>
            </with>
            </and>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.copy">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.paste">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.cut">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.undo">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.text.shiftLeft">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.text.shiftRight">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.file.save">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.file.undo">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.basic.activity"
            isEqualityPattern="false"
            pattern=".*org.eclipse.debug.internal.ui.actions.RunDropDownAction.*">
      </activityPatternBinding>
      <activity
            id="com.vinn.util.menu.cdtbuild.activity"
            name="CDT Build Action Menu">
         <enabledWhen>
            <and>
               <with
                     variable="com.vinn.utils.menu.cdtbuild.active">
                  <equals
                        value="SHOW">
                  </equals>
               </with>
            </and>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.popups.cleanFilesAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.popups.buildFilesAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.excludeCommand.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.deleteConfigsCommand.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.make.ui/org.eclipse.cdt.make.ui.NavigatorBuildLastTargetAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.make.ui/org.eclipse.cdt.make.ui.NavigatorBuildTargetAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.cdt.codan.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.make.ui/org.eclipse.cdt.make.ui.CViewCreateTargetAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.managedbuilder.ui/org.eclipse.cdt.managedbuilder.ui.ConvertTargetAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.vinn.util.menu.cdtbuild.activity"
            isEqualityPattern="false"
            pattern=".*org.eclipse.debug.ui.contextualLaunch.run.submenu.*">
      </activityPatternBinding>
      <activity
            id="com.vinn.util.menu.project.activity"
            name="NonProject Menu">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="org.eclipse.core.resources.IProjectNature">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </activity>
      <!-- <activityPatternBinding
            activityId="com.vinn.ui.util.cleanup.activity.project"
            isEqualityPattern="false"
            pattern="org.epic.*">
      </activityPatternBinding> -->
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.vinn.utils.menu.VinnMenuViewActivityState">
         <variable
               name="com.vinn.utils.menu.basic.active"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.vinn.utils.menu.cdtbuild.active"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.vinn.utils.menu.other.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=project">
         <menu
               id="com.vinn.utils.tools.menu"
               label="Tools">
            <command
                  commandId="com.vinn.utils.font.command.increase"
                  defaultHandler="com.vinn.cdt.handlers.RemoveAllProblemMarkersHandler"
                  id="com.vinn.utils.font.command.increase.id"
                  label="Grow Font"
                  name="com.vinn.utils.commands.removeproblems">
            </command>
            <command
                  commandId="com.vinn.utils.font.command.decrease"
                  defaultHandler="com.vinn.ui.utils.handlers.FontSizeChangeHandler"
                  id="com.vinn.utils.font.command.decrease.id"
                  label="Shrink Font"
                  name="com.vinn.utils.commands.removeproblems">
            </command>
            <command
                  commandId="com.vinn.utils.font.command.reset"
                  defaultHandler="com.vinn.cdt.handlers.RemoveAllProblemMarkersHandler"
                  id="com.vinn.utils.font.command.reset.id"
                  label="Normal Font"
                  name="com.vinn.utils.commands.removeproblems">
            </command>
            <separator
                  name="com.vinn.ui.utils.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.text.toggleShowWhitespaceCharacters"
                  disabledIcon="platform:/plugin/org.eclipse.ui.workbench.texteditor/icons/full/dtool16/show_whitespace_chars.gif"
                  icon="platform:/plugin/org.eclipse.ui.workbench.texteditor/icons/full/etool16/show_whitespace_chars.gif"
                  id="com.vinn.utils.editor.showwhitespace"
                  label="Toggle Show Whitespace"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.removeTrailingWhitespace"
                  label="Remove Tailing Whitespace"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.cdt.ui.edit.text.c.format"
                  icon="icons/style.gif"
                  label="Format (Code Style Fixup)"
                  style="push">
            </command>
            <separator
                  name="com.vinn.ui.utils.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="com.vinn.utils.commands.removeproblems"
                  defaultHandler="com.vinn.cdt.handlers.RemoveAllProblemMarkersHandler"
                  icon="icons/problems_view.gif"
                  id="com.vinn.utils.commands.removeproblems.id"
                  label="Remove Problem Markers"
                  name="com.vinn.utils.commands.removeproblems">
            </command>
            <separator
                  name="com.vinn.ui.utils.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="com.vinn.utils.commands.refreshall"
                  icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/refresh_nav.gif"
                  label="Refresh Projects"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vinn.utils.font.preferences.VinnFontUtilsPreferenceInitializer">
      </initializer>
      <initializer
            class="com.vinn.utils.menu.preferences.VinnMenuPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.ColorsAndFonts"
            class="com.vinn.utils.font.preferences.VinnFontUtilsPreferencePage"
            id="com.vinn.utils.preferences.EnvironmentPreferencePage"
            name="Font Size Changer">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="com.vinn.utils.menu.preferences.VinnMenuPreferencePage"
            id="com.vinn.utils.preferences.MenuPreferencePage"
            name="Menu Visibility">
      </page>
   </extension>

</plugin>
