<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.vinn.eclipse.build.commands.category"
            name="Vinn Build Commands">
      </category>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.build.handlers.CProjectAssociationHandler"
            description="com.vinn.build.commands.cprojects.link"
            id="com.vinn.build.commands.cprojects.link"
            name="com.vinn.build.commands.cprojects.link">
      </command>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.build.handlers.CProjectAssociationHandler"
            description="com.vinn.build.commands.cprojects.unlink"
            id="com.vinn.build.commands.cprojects.unlink"
            name="com.vinn.build.commands.cprojects.unlink">
      </command>
      <command
            categoryId="com.vinn.eclipse.build.commands.category"
            defaultHandler="com.vinn.build.handlers.ApplyConfToProjectsHandler"
            id="com.vinn.build.commands.applyConfiguration"
            name="com.vinn.build.commands.applyConfiguration">
         <commandParameter
               id="com.vinn.build.commands.applyConfigurationParameter1"
               name="name"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.vinn.build.commands.cprojects.link"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ALT+L"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="com.vinn.build.commands.cprojects.unlink"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.vinn.build.environment.menu"
               label="Environment"
               tooltip="Settings affecting all projects">
            <command
                  commandId="com.vinn.build.commands.cprojects.link"
                  icon="icons/link.png"
                  label="Associate C Projects"
                  style="push">
            </command>
            <command
                  commandId="com.vinn.build.commands.cprojects.unlink"
                  icon="icons/delink.png"
                  label="Disassociate C Projects"
                  style="push">
            </command>
            <separator
                  name="com.vinn.build.separator1"
                  visible="true">
            </separator>
            <menu
                  label="Set Configuration">
               <dynamic
                     class="com.vinn.build.ui.ConfCompoundContributionItem"
                     id="com.vinn.build.dynamic.confs">
               </dynamic>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="com.vinn.build.preferences.PreferencePage"
            id="com.vinn.build.preferences.EnvironmentPreferencePage"
            name="Environment">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vinn.build.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
